################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/__vm
/Release
/.vs/catFeeder/v16
*.vcxproj*
board.txt
obfuscation.txt
..bfg-report/
Debug/
ReplaceMeVariables.h
